<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>Here is the Animal you selected:</h3>
    <h4>Name: <%= fishData.name %></h4>
    <h4>Length: <%= fishData.length %></h4>
    <a href='/'>Go Back</a>
</body>
</html>